<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>線上購物系統</title>

	<script src="/javascripts/common/imports.js"></script>

	<link rel="stylesheet" href="/styles/index.css">
</head>

<body>

	<div id="app">
		<store-header></store-header>
		<div id="promo-section" v-if="promoImages.length > 0">
			<div v-for="image in promoImages" :key="image.id" class="promo-image-wrapper mb-4 text-center">
				<img :src="image.imageUrl" class="img-fluid rounded shadow-sm" alt="Promotion Image">
			</div>
		</div>

		<div v-else class="text-center">
			<p>正在載入廣告內容...</p>
		</div>

		<div id="product-list-section" class="row no-gutters">
			<div class="col-md-4 mb-4 p-2" v-for="product in products" :key="product.productId">
				<product-order-block :product-id="product.productId" @cart-updated="getCart"
					@cart-open="openPage"></product-order-block>
			</div>
		</div>

		<b-button class="action-btn" variant="success" @click="scrollToProducts" title="立即選購">
			<i class="fa-solid fa-basket-shopping"></i>
		</b-button>

		<a href="cart.html" class="floating-cart-btn" title="購物車">
			<i class="fa-solid fa-shopping-cart"></i>
			<span v-if="totalCartItems > 0" class="cart-badge">{{totalCartItems}}</span>
		</a>

	</div>

	<script src="/javascripts/common/util.js"></script>
	<script src="/javascripts/store/app-store.js"></script>

</body>

</html>